/* GLOBAL */

:root {
    box-sizing: border-box; 
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 

    background-size: cover, cover; 
    background-position: center, center; 
    background-repeat: no-repeat, no-repeat; 
}

body {
    font-family: 'Kaushan Script', 'Helvetica', sans-serif; 
}

a {
    text-decoration: none; 
    color: #000; 
}

/* HOMEPAGE */

.container {
    min-height: 100vh; 
    
    background: linear-gradient(to bottom, #E7EFF5 0, #E7EFF5 33%, #DBE7EA88 100%), URL('./images/SandS.png');
    background-size: cover, cover; 
    background-position: center, center 33vh; 
    background-repeat: no-repeat, repeat; 
    
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

.character .container {
    background: linear-gradient(to bottom, #E7EFF5 0, #E7EFF5 33%, #DBE7EA88 100%), URL('./images/SandS.png');
}

.cta, 
.intro {
    margin: 1.2em 36px; 
    
    text-align: center; 
    text-transform: uppercase; 
    font-size: 12px; 
}

.intro:nth-of-type(1) {
    margin-top: 92px; 
}

.main-title {
    display: block; 
    margin: 93px; 
    
    font-size: 4rem; 
    font-family: 'Just Another Hand', sans-serif; 
    color: #F1B312; 
    text-align: center; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cta {
    display: block; 

    text-transform: uppercase; 
}

[class ^= 'button'] {
    padding: 0.6em 1.2em; 
    
    font-size: 8px; 
    font-family: 'Koh Santepheap'; 
    background-color: #F1B312; 
    text-transform: uppercase; 

    box-shadow: 0 4px 8px #0008; 
    
    border-radius: 50vw; 
}

/* COPYRIGHT */

.copyright {
    width: 80vw; 
    margin: auto 0 1.2em; 
    padding: 1.2em 0 0; 
    
    font-family: 'Kreon', serif; 
    font-size: 10px; 
    text-align: center; 
    text-transform: uppercase; 
    /* line-height: 2.4;  */

    border-top: 1px solid #000; 
}

/* CHARACTER PAGE */

[class ^= 'character-card' ] {
    height: 600px; 
    width: 66%; 
    margin: 42px 0; 

    background-color: #DCE8EBCC; 

    border-radius: 16.666vw; 
    
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

[class ^= 'character-card__sophie'] {
    background-color: #F1B312CC; 
}

[class ^= 'button'] {
    color: #ED12F1; 
    background-color: #ED12F144; 
    
    border: 5px solid #ED12F1; 
}